@model List<ParkingManagement.ModelView.ParkingZoneReportModel>

@{
    ViewBag.Title = "Parking Zone Report";
}

<div class="container">
    @using (Html.BeginForm("ParkingZoneReport", "Report", FormMethod.Get))
    {
        <h4>Select a Date:</h4>
        <div class="row">
            <div class="col-md-2">
                @Html.TextBox("date", DateTime.Today.ToString("yyyy-MM-dd"), new { @class = "form-control", type = "date", id="selectedDate" })
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success">Generate Report</button>
            </div>
            <div class="col-md-2">
                <button id="exportPdf" class="btn btn-primary">Export to PDF</button>
            </div>
        </div>
    }

    @if (Model != null && Model.Count > 0)
    {
        <table id="reportTable" class="table">
            <thead>
                <tr>
                    <th>Parking Zone</th>
                    <th>Parking Space</th>
                    <th>Number of Bookings</th>
                    <th>Is Vehicles Parked </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ParkingZoneTitle</td>
                        <td>@item.ParkingSpaceTitle</td>
                        <td>@item.NumberOfBookings</td>
                        <td>@(item.IsVehicleParked ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-info mt-4">No report available for this date.</div>
    }
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.16/jspdf.plugin.autotable.min.js"></script>
<script src="~/Scripts/ParkingReport.js"></script>